.top-right {
  position: absolute;
  top: 1em;
  right: 1em;
  margin-right: 40px;
}

.ButtonMargin{
  margin-right: 20px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .top-right {
    top: 0.5em;
    right: 0.5em;
  }
}

.product-card, .product-card-selected {
  width: 600px; /* Breite der Kacheln */
  margin: 10px;

  height: 130px; /* Höhe automatisch anpassen */
  border-radius: 10px; /* Abgerundete Ecken */
  overflow: hidden; /* Overflow verstecken */
  background-color: #e8eaf8; /* Hintergrundfarbe für nicht ausgewählte Kacheln */
  display: flex; /* Flexbox verwenden */
  flex-direction: column; /* Spaltenlayout für Flex */
  
}

.product-card-selected {
  background-color: #7986cb; /* Hintergrundfarbe für ausgewählte Kacheln */
}

.text-inside-grid {
  font-size: 1.1vw; /* Schriftgröße */
  font-weight: bold;
  text-align: center;
 // padding: 10px; /* Padding hinzufügen */
}

.grid-subtitle {
  font-size: 1.2vw; /* Schriftgröße */
  text-align: center;
  padding: 0 10px; /* Padding hinzufügen */
  margin-bottom: 5px;
}

.buttons-inside-grid {
  display: flex; /* Flexbox verwenden */
  justify-content: center; /* Elemente horizontal zentrieren */
  align-items: center; /* Elemente vertikal zentrieren */
  padding: 10px; /* Padding hinzufügen */
  margin-top: auto; /* Buttons immer am unteren Rand ausrichten */
}

.buttons-inside-grid button {
  margin: 0 5px; /* Abstand zwischen den Buttons */
}

/* Stile für kleinere Bildschirme */
@media screen and (max-width: 768px) {
  .text-inside-grid, .grid-subtitle, .buttons-inside-grid {
    font-size: 1vw; /* Schriftgröße für kleinere Bildschirme */
  }
}

.mat-grid-tile {
  margin-bottom: 50px; /* Abstand unter den Kacheln */
  margin-top: 30px; /* Abstand über den Kacheln */  
}
