<mat-card>
  <mat-card-header>
    <mat-card-title>
      Leofee <!--{{ selectedBuffet.location }}-->
    </mat-card-title>
  </mat-card-header>
</mat-card>

<span class="top-right">
 
    <button class="ButtonMargin" mat-raised-button [disabled]="!hasSelectedProducts()" (click)="clear()">
      <mat-icon>undo</mat-icon>
    </button>

  

    <span class="ButtonMargin">{{ getTotals().toFixed(2) }} €</span>
 

  
    <button class="ButtonMargin" mat-raised-button color="accent" [disabled]="!hasSelectedProducts() || getTotals() < 0" (click)="checkout()">
      Zahlen
      <mat-icon>done</mat-icon>
    </button>
  

    
    <div *ngIf="AmountOfBon > 0" class="bon-overlay">
      <p>Gutscheinbetrag: {{ AmountOfBon }}€</p>
    </div>

 
 
 
  
</span>

<mat-grid-list *ngIf="selectedBuffet != undefined" [cols]="numberColumns" rowHeight="10em">
  <mat-grid-tile *ngFor="let product of selectedBuffet.products">
    <mat-card [ngClass]="product.amount > 0 ? 'product-card-selected' : 'product-card'">
      <mat-card-content [ngStyle]="{'color': product.price < 0 ? 'red' : 'black'  }">
        <div class="text-inside-grid">
          {{ product.name}}
        </div>
        <div class="grid-subtitle">
          {{ (product.price / 100.0).toFixed(2)}} €
        </div>  
        <div class="buttons-inside-grid">
          <button color="basic" (click)="inc(product)" mat-mini-fab>+</button>
          <span>{{ product.amount }}</span>
          <button color="basic" [disabled]="product.amount == 0" (click)="dec(product)" mat-mini-fab>-</button>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
