<div class="container mt-4">
  <div class="buttons mb-3">
    <input type="file" class="form-control">
  </div>
  <mat-form-field appearance="fill" class="mb-3">
    <mat-label>Filter</mat-label>
    <mat-select (selectionChange)="onFilterChange($event)">
      <!-- Add your filter options here -->
      <mat-option value="lastname">Nachname</mat-option>
      <mat-option value="class">Klasse</mat-option>      
    </mat-select>
  </mat-form-field>
  <button class="btn btn-primary mb-3" (click)="exportToCSV()">Export CSV</button>
  <button class="btn btn-primary ml-2 mb-3" (click)="exportToPDF()">Export PDF</button>
    
  <table class="table table-bordered mt-3" id="studentTable">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Class</th>
        <th></th>   
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of _students">
        <td>{{student.firstName}}</td>
        <td>{{student.lastName}}</td>
        <td>{{student.className}}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteStudentFromList(student.lastName, student.firstName)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
