<h1>Hello World!!</h1>

<div *ngIf="loggedIn == false; else logOutBlock">
    <h3>You are logged out!!!</h3>
    <button (click)="login()">Login</button>
</div>
<ng-template #logOutBlock>
    <h3>You are already logged in!!!</h3>
    <button (click)="logout()">Logout</button>

    <h2>Get Profile</h2>

    <button (click)="getProfile()">Profile</button>
    <div *ngIf="profile">
        <p>Display name: {{ profile.displayName}}</p>
    </div>
    <qrcode [qrdata]="'test-QR-Code'" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
</ng-template>