

<h1>whiteListUser-Management</h1>

<div class="table-container">
  <h1>Benutzerverwaltung</h1>
    <div class="form-container">
        <div class="form-section">
          <button class="btn btn-success" (click)="addUser()">Add user</button>
        </div>
    </div>
    <br>
    <table mat-table class="custom-table">
      <thead>
        <tr>
          <th>#</th>
          <th>UserId</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Function</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let whiteListUser of _whiteListUsers; let i = index">
            <td>{{i + 1}}</td>
            <td>{{whiteListUser.userId}}</td>
            <td>{{whiteListUser.firstName}}</td>
            <td>{{whiteListUser.lastName}}</td>
            <td>
              <button type="button" class="btn btn-danger" (click)="callDeleteUser(whiteListUser)">Delete</button>
            </td>
        </tr>
      </tbody>
    </table>
</div>
