<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login-Screen</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-md-6">
      <div class="card p-4">
        <div class="text-center">
          <h1 class="mb-4">Login-Screen</h1>
          <div *ngIf="loggedIn == false; else logOutBlock">
            <h3 class="mt-4">You are logged out!!!</h3>
            <button (click)="login()" class="btn btn-primary btn-lg mt-4">Login</button>
          </div>
          <ng-template #logOutBlock>
            <h3 class="mt-4">You are already logged in!</h3>
            <button (click)="logout()" class="btn btn-danger btn-lg mt-4">Logout</button>

            <h2 class="mt-4">Get Profile</h2>

            <button (click)="getProfile()" class="btn btn-success btn-lg mt-4">Profile</button>
            <div *ngIf="profile" class="mt-4">
              <p>Display name: {{ profile.displayName}}</p>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
