<br>
<br>
<br>

<h1 class="headline">Gutscheinverwaltung</h1>


<div class="container mt-4">
  <div class="row">

    <!-- From Date & Time -->
    <div class="col">
      <mat-form-field appearance="fill">
        <mat-label>From Date</mat-label>
        <input matInput [matDatepicker]="fromPicker"  [(ngModel)]="fromDate" [min]="today" (dateChange)="validateFromDate()">
        <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
        <mat-datepicker #fromPicker></mat-datepicker>
      </mat-form-field>
    </div>
    
    <div class="col">
      <mat-form-field>
        <input matInput type="time"  [(ngModel)]="fromTime" (change)="validateFromTime()">
      </mat-form-field>
    </div>
  
  </div>
  <div class="row">


    <!-- To Date & Time -->
    <div class="col">
      <mat-form-field appearance="fill">
        <mat-label>To Date</mat-label>
        <input matInput [matDatepicker]="toPicker" [(ngModel)]="toDate" [min]="fromDate" (dateChange)="validateToDate()">
        <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
        <mat-datepicker #toPicker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col">
      <mat-form-field>
        <input matInput type="time"  [(ngModel)]="toTime" (change)="validateToTime()">
      </mat-form-field>
    </div>
  </div>


  
  <div class="row mt-3">
    <!-- Höhe -->
    <div class="col">
      <label for="hoeheInput">Höhe</label>
      <input type="number" id="hoeheInput" [(ngModel)]="hoehe" (input)="updateMax()" class="form-control">
    </div>

    <!-- Max -->
    <div class="col">
      <label for="maxInput">Max</label>
      <input type="number" id="maxInput" [(ngModel)]="max" (input)="updateHoehe()" class="form-control">
    </div>

    <!-- Ist (nicht änderbar) -->
    <div class="col">
      <label for="istInput">Ist</label>
      <input type="number" id="istInput" [(ngModel)]="ist" class="form-control" disabled>
    </div>
  </div>

<div class="row mt-4">
  <div class="col text-center">
    <button  class="btn btn-primary" (click)="addBon()" [disabled]="isBonActive">Bon festlegen</button>
  </div>
</div>

<div class="row mt-4">
  <div class="col text-center">
    <button class="btn btn-danger" (click)="deleteBon()" [disabled]="!isBonActive" >Bon löschen</button>
  </div>
</div>

<div class="row mt-4">
  <div class="col text-center">
    <button  class="btn btn-primary" (click)="updateBon()"[disabled]="!isBonActive">Bon updaten</button>
  </div>
</div>

<br>
<br>
<br>

<div class="container">
  <!--<h2>Statistiken</h2>

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
      Statistik auswählen
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item">Statistik 1</a></li>
      <li><a class="dropdown-item">Statistik 2</a></li>
      <li><a class="dropdown-item">Statistik 3</a></li>
    </ul>
  </div>-->

  <div class="chart-container mt-5">
    <!--<canvas id="MyChart" width="400" height="200"></canvas>-->
    <canvas id="myChart" width="350" height="150"></canvas>
  </div>
</div>